html {
  height: 100%;
}

body {
  color: #000;
  font-family: $ff-normal;
  font-weight: $fw-regular;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
