// Non-theme-specific colors, feel free to change here at will!
$c-gray: #999;
$c-gray--dark: #4A4A4A;
$c-gray--light: #EEE;

$c-blue: #0086C9;
$c-orange: #EE7F00;
$c-red: #b33630;
$c-white: #FFF;
$c-yellow: #fff6bf;
$c-green: #e6efc2;
