/*
@mixin btn {
  display: inline-block;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  white-space: normal;
  text-align: left;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
*/
